
  <section class="link-url">
    <div class="container">
      <div class="link-url-content">
        <div class="menu-not-home">

        </div>
        <div class="breadcrumb">
          <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
              <a itemtype="http://schema.org/Thing" itemprop="item" href="index.html">
                <span itemprop="name">Trang chủ</span>
              </a> <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              <meta itemprop="position" content="1">
            </li>



            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
              <a itemtype="http://schema.org/Thing" itemprop="item" href="pc-workstation.html">
                <span itemprop="name">PC, Workstation</span></a>
              <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              <meta itemprop="position" content="2">
            </li>


            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
              <a itemtype="http://schema.org/Thing" itemprop="item" href="may-tinh-dong-bo.html">
                <span itemprop="name">Máy Tính Đồng Bộ</span></a>
              <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              <meta itemprop="position" content="3">
            </li>



            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
              <a href="hp-z440-workstation-intel-xeon-e5-1607-v3-8gb-k620-hdd-500-gb.html"
                itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name"> HP Z440 Workstation (Xeon E5-1607 v3 /16gb/K620) </span>
              </a>
              <meta itemprop="position" content="4">
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="product-derail">
    <div class="container">
      <div class="header-product-detail">
        <h1 itemprop="name"><%= product.title %></h1>
        <div class="header-pdt-other">
          <span class="hpo-item">Mã SP: <span class="blue">SP3081071</span></span>
          <span class="hpo-item">Đánh giá: <div class="ps-product__rating">
            <select class="ps-rating" data-read-only="true">
              <% for( let index=0; index < product.rate; index++ ) { %>
                <option value="1">
                  <%= index %>
                </option>
                <% } %>
            </select><span></span>
          </div></span>
          <span class="hpo-item">Bình luận: <span class="blue">0</span></span>
          <span class="hpo-item">Lượt xem: <span class="blue">1096</span></span>
          <div class="fb-like fb_iframe_widget"
            data-href="https://nguyencongpc.vn/laptop-hp-14s-fq1080au-4k0z7pa-amd-ryzen-3-5300u-4gb-ram-256gb-ssd-14hd-amd-radeon-win10-silver-1-yr"
            data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"
            fb-xfbml-state="rendered"
            fb-iframe-plugin-query="action=like&amp;app_id=862038067474115&amp;container_width=0&amp;href=https%3A%2F%2Fnguyencongpc.vn%2Flaptop-hp-14s-fq1080au-4k0z7pa-amd-ryzen-3-5300u-4gb-ram-256gb-ssd-14hd-amd-radeon-win10-silver-1-yr&amp;layout=button&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;size=small&amp;width=">
            <span style="vertical-align: bottom; width: 120px; height: 28px;"><iframe name="fb249c5d421314"
                width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin"
                title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true"
                scrolling="no" allow="encrypted-media"
                src="https://www.facebook.com/v4.0/plugins/like.php?action=like&amp;app_id=862038067474115&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df24be2a8280d828%26domain%3Dnguyencongpc.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fnguyencongpc.vn%252Ff2fc9f37d4e38c4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fnguyencongpc.vn%2Flaptop-hp-14s-fq1080au-4k0z7pa-amd-ryzen-3-5300u-4gb-ram-256gb-ssd-14hd-amd-radeon-win10-silver-1-yr&amp;layout=button&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;size=small&amp;width="
                style="border: none; visibility: visible; width: 120px; height: 28px;" class=""></iframe></span></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="product-detail-content-top">
        <div id="list-image_fancybox"><a href="/media/product/21615-hp4.jpg" id="item-fancy_first" class="fancybox"
            data-fancybox="gallery"></a><a href="/media/product/21615-60978_laptop_hp_14s_fq1080au_4k0z7pa_bac_3.jpg"
            class="fancybox" data-fancybox="gallery"></a><a
            href="/media/product/21615-60978_laptop_hp_14s_fq1080au_4k0z7pa_bac_2.jpg" class="fancybox"
            data-fancybox="gallery"></a><a href="/media/product/21615-60978_laptop_hp_14s_fq1080au_4k0z7pa_bac_1.jpg"
            class="fancybox" data-fancybox="gallery"></a></div>
        <div class="detail-img">
          <div class="big-image-n" id="sync1">
            <% const images=product.images.split(",")%>
            <% images.forEach(item=> { %>
              <div class="item"><a href="<%= item %>"><img src="<%= item %>" alt=""></a></div>
              <% }) %>
        
          </div>

          <div class="img-thumb-n owl-carousel owl-loaded owl-drag" id="sync2">
            <div class="owl-stage-outer">
              <div class="owl-list-img"
                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 316px;">
                <div class="owl-item active" style="width: 69px; margin-right: 10px;">
                  <% images.forEach(item=> { %>
                    <div class="item-n active">
      
                        <img src="<%= item %>"
                          alt="Laptop HP 14s-fq1080AU 4K0Z7PA (AMD Ryzen 3-5300U/ 4GB RAM/ 256GB SSD/ 14" hd="" amd=""
                          radeon="" win10="" silver="" 1="" yr)>
  
                    </div>
                    <% }) %>
                 
                </div>
              </div>
            </div>
            <!-- <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                  aria-label="Previous">‹</span></button><button type="button" role="presentation"
                class="owl-next"><span aria-label="Next">›</span></button></div>
            <div class="owl-dots disabled"></div> -->
          </div>

          
        </div>
        <div class="content-top-detail">

          <div class="detail-summary">
            <div class="title-sum">Thông số sản phẩm</div>
            <div class="list">


              <span>CPU: AMD Ryzen™ 3-5300U (2.6GHz upto 3.8GHz, 4MB)
              </span>

              <span>RAM: 4GB (1x4GB) DDR4-3200Mhz (2 khe)
              </span>

              <span>Ổ cứng: 256GB PCIe NVMe
              </span>

              <span>VGA: Radeon Vega Graphics
              </span>

              <span>Màn hình: 14 inch HD (1366 x 768), micro-edge, BrightView, 250 nits, 45% NTSC
              </span>

              <span>Pin: 3-cell, 41 Wh Li-ion
              </span>

              <span>Cân nặng: 1.47 kg
              </span>

              <span>Màu sắc: Natural Silver
              </span>

              <span>OS: Windows 10 Home</span>

            </div>
          </div>





          <div class="detail-info">
            <span class="pro-status detail-info-item">
              Tình trạng:
              <span class="green"> Còn hàng </span>

            </span>

            <span class="pro-warrantry detail-info-item">
              Bảo hành: <span class="red">12 tháng </span>
            </span>

          </div>
          <div class="detail-price-all" itemprop="offers" itemscope="" itemtype="https://schema.org/AggregateOffer">

            <div class="detail-old-price">
              <span class="txt">Giá bán:</span>
              <span class="price"> <%= product.price.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %></span>
            </div>

            <div class="detail-price">
              <span class="txt">Giá khuyến mại:</span>
              <span class="price"> <%= product.price.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %></span>


              <span class="detail-discount">(Tiết kiệm 1.200.000đ)</span>

            </div>
            <meta itemprop="highPrice" content="12790000">
            <meta itemprop="lowPrice" content="11590000">
            <meta itemprop="offerCount" content="1">
            <meta itemprop="priceCurrency" content="VND">
          </div>

          <div class="detail-offer">
            <div class="title"><i class="fa fa-gift" aria-hidden="true"></i> Khuyến mại</div>
            <div class="list">

              <span style="white-space: pre-line">
                <p> + Túi/Balo laptop trị giá : 390.000đ <br> + Chuột có dây U660 USB OPTICAL MOUSE(Black) - KM trị giá:
                  150.000đ<br> + Bàn di chuột trị giá: 50.000đ<br> + Bộ vệ sinh Laptop trị giá: 40.000đ<br> + Vệ sinh
                  bảo dưỡng Laptop miễn phí trọn đời trị giá: 1 triệu đồng<br> + Giảm 10% khi mua thêm RAM, HDD
                  laptop<br> + Giảm 5% khi mua kèm Gear, Đế tản nhiệt Laptop<br> </p>
              </span>

            </div>
          </div>

          <div class="detail-buy">
            <a data-redirect="1"
            data-product="<%= JSON.stringify(product) %>" href="#" class="detail-buy-now ps-btn ps-btn--black ps-btn--fullwidth add-cart">
              <span>ĐẶT MUA NGAY</span>
              Giao hàng tận nơi nhanh chóng
            </a>
            <a href="#" class="detail-add-cart ps-btn ps-btn--black add-cart" data-product="<%= JSON.stringify(product) %>" href="#">
              <span>Thêm vào giỏ hàng</span>
              Thêm vào giỏ để chọn tiếp
            </a>
          </div>
        </div>
        <div class="content-top-right-detail">
          <div class="box-showrom-has-pro policy-detail">
            <div class="title">YÊN TÂM MUA HÀNG</div>
            <div class="list">
              <p>Hỗ trợ tư vấn lắp đặt trong nội thành Hà Nội.</p>
              <p>Hỗ trợ mua hàng trả góp.</p>
              <p>Hỗ trợ cài đặt các phần mềm đồ họa.</p>
              <p>Được tham gia các chương trình giảm giá sốc.</p>
            </div>
          </div>
          <div class="code-qr">
            <span class="txt">Tham gia Cộng Đồng Máy Tính Nguyễn Công để theo dõi thường xuyên ưu đãi chỉ
              dành riêng cho thành viên</span>
            <span class="img-qr"><img class="lazy loaded" data-src="/static/assets/default/images/code-qr.jpg" alt="qr"
                src="/static/assets/default/images/code-qr.jpg" data-was-processed="true"></span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="tab-product-detail" id="js-tab-product-detail">
        <div class="title-tab">

          <a href="javascript:;" data-id="2" class="current">Sản phẩm đã xem</a>

        </div>
        <div class="content-tab">

          <div class="tab-content-item product-list-viewed active" id="tab-detail-2">
            <div class="owl-carousel owl-theme style-owl-nav owl-loaded owl-drag">
              <div class="owl-stage-outer">
                <div class="owl-stage"
                  style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 594px;">
                  <div class="row">
                    <% products.forEach(element=> { %>
                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 ">
                        <div class="ps-product">
                          <div class="ps-product__thumbnail"><img class="ps-product__image" style="width: 270px; height: 270px"
                              src="<%= element.thumbnail %>" alt="" /><img class="ps-product__image-alt"
                              href="/san-pham/<%= element.id %>"></a>
                            <div class="ps-product__actions">
                              <a class="add-cart" data-product="<%= JSON.stringify(element) %>"> THÊM VÀO GIỎ</a>
                            </div>
                          </div>
                          <div class="ps-product__content"><a class="ps-product__title" href="/san-pham/<%= element.id %>">
                              <%= element.title %>
                            </a>
                            <select class="ps-rating" data-read-only="true">
                              <% for( let index=0; index < element.rate; index++ ) { %>
                                <option value="1">
                                  <%= index %>
                                </option>
                                <% } %>
                            </select>
                          </div>
                          <p class="ps-product__price">
                            <%= element.price.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %>
                          </p>
                        </div>
                      </div>
                      <% }) %>
                  </div>
                 
                </div>
              </div>
              <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev disabled"><i
                    class="fa fa-angle-left" aria-hidden="true"></i></button><button type="button" role="presentation"
                  class="owl-next disabled"><i class="fa fa-angle-right" aria-hidden="true"></i></button></div>
              <div class="owl-dots disabled"></div>
            </div>
          </div>

        </div>
        <div class="popup-change-pro js-popup-change">
          <div class="popup-main">
            <div class="head">
              <div class="title">Chọn mua sản phẩm khác</div>
              <div class="close js-close-popup">x</div>
            </div>
            <div class="clearfix"></div>
            <div class="list-product-change">
              <div class="js-load-change">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="product-detail-read">
        <div class="row">
          <div class="col-md-8">
            <div class="box-detail-des" id="detail-des">
              <div class="title-detail-des">
                <a href="javascript:;" data-id="#detail-des" class="current">Đặc điểm</a>

                <a href="javascript:;" data-id="#detail-video">Video</a>

                <a href="javascript:;" data-id="#detail-coment">Bình luận&gt;</a>
              </div>
              <div class="detail-des">
                <div class="title">
                  <h2>Giới thiệu Laptop HP 14s-fq1080AU 4K0Z7PA (AMD Ryzen 3-5300U/ 4GB RAM/ 256GB SSD/ 14"HD/ AMD
                    Radeon/ Win10/ Silver/ 1 Yr)</h2>
                </div>
                <div class="detail-des-content">
                  <%- product.content ? product.content : 'Không có mô tả' %>
                </div>
              </div>
            </div>

            <div class="box-detail-video" id="detail-video">
              <div class="title">
                <h3>Video</h3>
              </div>
              <div class="list">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/IRzZ2PGx8Es" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen=""></iframe>

              </div>
            </div>
            <div class="box-detail-comment-face" id="detail-coment">
              <div class="title">
                <h4>Hỏi đáp về sản phẩm</h4>
              </div>
              <div class="ps-tabs" style="padding: 20px 0;">
                <div class="ps-tab active" id="tab-1">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-12 ">
                      <div class="ps-document">
                        <div class="fb-comments" data-href="https://cau-nguyen-online.surge.sh/<%= product.id %>"
                          data-width="100%" data-numposts="5"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-spec">
              <h2 class="title">Thông số kỹ thuật</h2>
              <div class="content-spec">
                <div class="spec-ct">
                  <table border="1" width="100%">
                    <tbody>
                      <tr>
                        <td width="303">
                          <p><strong>ãng sản xuất&nbsp;</strong></p>
                        </td>
                        <td width="771">
                          <p><strong>Laptop HP</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Tên sản phẩm</strong></p>
                        </td>
                        <td width="771"><strong>HP 14s-fq1080AU 4K0Z7PA</strong></td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Nhóm thuộc tính</strong></p>
                        </td>
                        <td width="771">&nbsp;<strong>Laptop&nbsp;|&nbsp;Laptop Văn Phòng&nbsp;</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2" width="303">
                          <p><strong>Bộ vi xử lý</strong>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Bộ vi xử lý</p>
                        </td>
                        <td width="771">
                          <p>AMD Ryzen™ 3-5300U</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Tốc độ</p>
                        </td>
                        <td width="771">
                          <p>2.6GHz upto 3.8GHz, 4 cores&nbsp;8 threads</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Bộ nhớ đệm</p>
                        </td>
                        <td width="771">
                          <div class="field__label">L2 Cache: 2MB</div>
                          <div class="field__label">
                            <div class="field__label">L3 Cache: 4MB</div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Bộ nhớ trong (RAM)</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Dung lượng</p>
                        </td>
                        <td width="771">
                          <p>4GB (1x4GB) DDR4-3200Mhz</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Số khe cắm</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Ổ cứng&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Dung lượng</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;256GB PCIe NVMe</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Tốc độ vòng quay</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Khe cắm SSD mở rộng</strong></p>
                        </td>
                        <td width="771">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Ổ đĩa quang (ODD)&nbsp;</strong></p>
                        </td>
                        <td width="771">
                          <p>&nbsp;Không</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Hiển thị&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Màn hình</p>
                        </td>
                        <td width="771">
                          <p>14 inch HD (1366 x 768), micro-edge, BrightView, 250 nits, 45% NTSC</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Độ phân giải</p>
                        </td>
                        <td width="771">
                          <p>1366 x 768</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Đồ Họa (VGA)&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Card màn hình</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;Radeon Vega Graphics</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Kết nối (Network)&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Wireless</p>
                        </td>
                        <td width="771">
                          <p>Intel® Wireless-AC 9461 802.11a/b/g/n/ac (1x1) Wi-Fi</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>LAN</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Bluetooth</p>
                        </td>
                        <td width="771">
                          <p>Bluetooth® 5 combo</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Bàn phím , Chuột&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Kiểu bàn phím</p>
                        </td>
                        <td width="771">
                          <p>Bàn phím tiêu chuẩn</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Chuột</p>
                        </td>
                        <td width="771">
                          <p>Cảm ứng đa điểm</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Giao tiếp mở rộng&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Kết nối USB</p>
                        </td>
                        <td width="771">
                          <p>1 SuperSpeed USB Type-C® 5Gbps signaling rate;<br>2 SuperSpeed USB Type-A 5Gbps signaling
                            rate</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Kết nối HDMI/VGA</p>
                        </td>
                        <td width="771">
                          <p>1 HDMI 1.4b</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Tai nghe</p>
                        </td>
                        <td width="771">
                          <p>1 headphone/microphone combo</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Camera</p>
                        </td>
                        <td width="771">
                          <p>HP True Vision 720p HD camera with integrated dual array digital microphones</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Card mở rộng</p>
                        </td>
                        <td width="771">
                          <p>1 multi-format SD media card reader</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>LOA</strong></p>
                        </td>
                        <td width="771">
                          <p>2 Loa</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Kiểu Pin</strong></p>
                        </td>
                        <td width="771">
                          <p>&nbsp;3-cell, 41 Wh Li-ion</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Sạc pin</strong></p>
                        </td>
                        <td width="771">
                          <p>Đi kèm</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Hệ điều hành&nbsp;(bản quyền) đi kèm&nbsp;</strong></p>
                        </td>
                        <td width="771">
                          <p>Windows 10 Home</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Kích thước (Dài x Rộng x Cao)</strong></p>
                        </td>
                        <td width="771">
                          <p>32.4 x 22.5 x 1.79 cm</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Trọng Lượng</strong></p>
                        </td>
                        <td width="771">
                          <p>1.47 kg</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Màu sắc</strong></p>
                        </td>
                        <td width="771">
                          <p>Bạc</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Xuất xứ</strong></p>
                        </td>
                        <td width="771">
                          <p>Trung Quốc</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <a href="#full-spec" data-fancybox="spec" class="spec-vm">Xem đầy đủ thông số kỹ thuật</a>
                <div id="full-spec" class="content-text" style="display:none;">
                  <table border="1" width="100%">
                    <tbody>
                      <tr>
                        <td width="303">
                          <p><strong>Hãng sản xuất&nbsp;</strong></p>
                        </td>
                        <td width="771">
                          <p><strong>Laptop HP</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Tên sản phẩm</strong></p>
                        </td>
                        <td width="771"><strong>HP 14s-fq1080AU 4K0Z7PA</strong></td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Nhóm thuộc tính</strong></p>
                        </td>
                        <td width="771">&nbsp;<strong>Laptop&nbsp;|&nbsp;Laptop Văn Phòng&nbsp;</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2" width="303">
                          <p><strong>Bộ vi xử lý</strong>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Bộ vi xử lý</p>
                        </td>
                        <td width="771">
                          <p>AMD Ryzen™ 3-5300U</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Tốc độ</p>
                        </td>
                        <td width="771">
                          <p>2.6GHz upto 3.8GHz, 4 cores&nbsp;8 threads</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Bộ nhớ đệm</p>
                        </td>
                        <td width="771">
                          <div class="field__label">L2 Cache: 2MB</div>
                          <div class="field__label">
                            <div class="field__label">L3 Cache: 4MB</div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Bộ nhớ trong (RAM)</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Dung lượng</p>
                        </td>
                        <td width="771">
                          <p>4GB (1x4GB) DDR4-3200Mhz</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Số khe cắm</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Ổ cứng&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Dung lượng</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;256GB PCIe NVMe</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Tốc độ vòng quay</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Khe cắm SSD mở rộng</strong></p>
                        </td>
                        <td width="771">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Ổ đĩa quang (ODD)&nbsp;</strong></p>
                        </td>
                        <td width="771">
                          <p>&nbsp;Không</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Hiển thị&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Màn hình</p>
                        </td>
                        <td width="771">
                          <p>14 inch HD (1366 x 768), micro-edge, BrightView, 250 nits, 45% NTSC</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Độ phân giải</p>
                        </td>
                        <td width="771">
                          <p>1366 x 768</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Đồ Họa (VGA)&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Card màn hình</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;Radeon Vega Graphics</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Kết nối (Network)&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Wireless</p>
                        </td>
                        <td width="771">
                          <p>Intel® Wireless-AC 9461 802.11a/b/g/n/ac (1x1) Wi-Fi</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>LAN</p>
                        </td>
                        <td width="771">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Bluetooth</p>
                        </td>
                        <td width="771">
                          <p>Bluetooth® 5 combo</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Bàn phím , Chuột&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Kiểu bàn phím</p>
                        </td>
                        <td width="771">
                          <p>Bàn phím tiêu chuẩn</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Chuột</p>
                        </td>
                        <td width="771">
                          <p>Cảm ứng đa điểm</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="1076">
                          <p><strong>Giao tiếp mở rộng&nbsp;</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Kết nối USB</p>
                        </td>
                        <td width="771">
                          <p>1 SuperSpeed USB Type-C® 5Gbps signaling rate;<br>2 SuperSpeed USB Type-A 5Gbps signaling
                            rate</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Kết nối HDMI/VGA</p>
                        </td>
                        <td width="771">
                          <p>1 HDMI 1.4b</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Tai nghe</p>
                        </td>
                        <td width="771">
                          <p>1 headphone/microphone combo</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Camera</p>
                        </td>
                        <td width="771">
                          <p>HP True Vision 720p HD camera with integrated dual array digital microphones</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p>Card mở rộng</p>
                        </td>
                        <td width="771">
                          <p>1 multi-format SD media card reader</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>LOA</strong></p>
                        </td>
                        <td width="771">
                          <p>2 Loa</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Kiểu Pin</strong></p>
                        </td>
                        <td width="771">
                          <p>&nbsp;3-cell, 41 Wh Li-ion</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Sạc pin</strong></p>
                        </td>
                        <td width="771">
                          <p>Đi kèm</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Hệ điều hành&nbsp;(bản quyền) đi kèm&nbsp;</strong></p>
                        </td>
                        <td width="771">
                          <p>Windows 10 Home</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Kích thước (Dài x Rộng x Cao)</strong></p>
                        </td>
                        <td width="771">
                          <p>32.4 x 22.5 x 1.79 cm</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Trọng Lượng</strong></p>
                        </td>
                        <td width="771">
                          <p>1.47 kg</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Màu sắc</strong></p>
                        </td>
                        <td width="771">
                          <p>Bạc</p>
                        </td>
                      </tr>
                      <tr>
                        <td width="303">
                          <p><strong>Xuất xứ</strong></p>
                        </td>
                        <td width="771">
                          <p>Trung Quốc</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="box-product-same" id="js-box-product-same">
              <div class="title">Sản phẩm tương tự </div>
              <div class="list" id="js-product-samecat">

              </div>
            </div>
            <div class="box-article-product-detail" id="js-box-article-product-detail">
              <div class="title">Tin tức</div>
              <div class="list" id="js-box-article-product-detail-list">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="fb-root"></div>

</div>

<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=543121906576699&autoLogAppEvents=1"
  nonce="MhrNS2vM"></script>