
  <section class="link-url">
    <div class="container">
      <div class="link-url-content">
        <div class="menu-not-home">
        </div>
        <div class="breadcrumb">
          <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
              <a itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Trang chủ</span>
              </a> <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              <meta itemprop="position" content="1">
            </li>



            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
              <a itemtype="http://schema.org/Thing" itemprop="item" href="/pc-workstation">
                <span itemprop="name">PC ĐỒ HOẠ - LÀM VIỆC</span>
              </a>
              <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              <meta itemprop="position" content="2">
            </li>


            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
              <a itemtype="http://schema.org/Thing" itemprop="item" href="/workstation-nc">
                <span itemprop="name">Bộ Máy Sử Dụng CPU Intel Core I</span>
              </a>
              <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              <meta itemprop="position" content="3">
            </li>

          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="box-product-category">
    <div class="container">
      <div class="title-product-category">
        <h1>Bộ Máy Sử Dụng CPU Intel Core I</h1> (Tổng 64 sản phẩm)
      </div>
      <div class="clearfix"></div>
      <div class="content-product-category">
        <div class="cpc-left">
          <div class="box-mn-cat-pro">
            <div class="title-all-filter">Danh mục</div>
            <div class="list">






              <a href="/pc-workstation"><i class="fa fa-angle-double-right" aria-hidden="true"></i> PC ĐỒ HOẠ - LÀM
                VIỆC</a>
























            </div>
          </div>

          <div class="box-filter">
            <div class="title-all-filter">Hãng sản xuất</div>
            <ul class="list-filter">

              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?brand=gigabyte'"
                style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">Gigabyte (1)</span>
              </li>

              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?brand=asus'" style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">ASUS (1)</span>
              </li>

              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?brand=ncpc'" style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">NCPC (7)</span>
              </li>

            </ul>
          </div>


          <div class="box-filter">
            <div class="title-all-filter">Khoảng giá</div>
            <ul class="list-filter">



              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?p=7trieu-10trieu'"
                style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">7 triệu - 10 triệu (1)</span>
              </li>





              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?p=10trieu-15trieu'"
                style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">10 triệu - 15 triệu (3)</span>
              </li>





              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?p=15trieu-20trieu'"
                style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">15 triệu - 20 triệu (5)</span>
              </li>





              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?p=20trieu-50trieu'"
                style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">20 triệu - 50 triệu (41)</span>
              </li>





              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?p=50trieu-100trieu'"
                style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">50 triệu - 100 triệu (6)</span>
              </li>





              <li onclick="location.href='https://nguyencongpc.vn/workstation-nc?p=tren-100trieu'"
                style="cursor:pointer">
                <span class="fake-check "></span>
                <span class="txt">Trên 100 triệu (7)</span>
              </li>



            </ul>
          </div>


        </div>
        <div class="cpc-right">
          <div class="bn-cat">

          </div>
          <div class="product-cat-ct">

            <div class="sort-paging">
              <select class="box-sort" onchange="location.href=this.value">
                <option value="">Sắp xếp</option>

                <option value="https://nguyencongpc.vn/workstation-nc?sort=new">Mới nhất</option>

                <option value="https://nguyencongpc.vn/workstation-nc?sort=price-asc">Giá tăng dần</option>

                <option value="https://nguyencongpc.vn/workstation-nc?sort=price-desc">Giá giảm dần</option>

                <option value="https://nguyencongpc.vn/workstation-nc?sort=view">Lượt xem</option>

                <option value="https://nguyencongpc.vn/workstation-nc?sort=comment">Trao đổi</option>

                <option value="https://nguyencongpc.vn/workstation-nc?sort=rating">Đánh giá</option>

                <option value="https://nguyencongpc.vn/workstation-nc?sort=name">Tên A-&gt;Z</option>

              </select>

              <div class="paging-top">


                <a href="/workstation-nc" class="current"> 1 </a>



                <a href="/workstation-nc?page=2"> 2 </a>


              </div>

            </div>

            <div class="product-list">
              <% products.forEach(element=> { %>
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 col-6 ">
                  <a href="/san-pham/<%= element.id %>">
                    <div class="ps-product">
                      <div class="ps-product__thumbnail"><img style="width: 270px; height: 270px" class="ps-product__image"
                          src="<%= element.thumbnail %>" alt="" /><img class="ps-product__image-alt"
                          href="/san-pham/<%= element.id %>"></a>
                        <div class="ps-product__actions">
                          <a class="add-cart" data-product="<%= JSON.stringify(element) %>"> THÊM VÀO GIỎ</a>
                          <a class="add-wishList" data-original-title="View Wishlist" data-rel="tooltip"
                            data-product="<%= JSON.stringify(element) %>">
                            <span class="indent-text">Browse Wishlist</span>
                          </a>
                        </div>
                      </div>
                      <div class="ps-product__content"><a class="ps-product__title" href="/san-pham/<%= element.id %>">
                          <%= element.title %>
                        </a>
                        <select class="ps-rating" data-read-only="true">
                          <% for( let index=0; index < element.rate; index++ ) { %>
                            <option value="1">
                              <%= index %>
                            </option>
                            <% } %>
      
                        </select>
                      </div>
                      <p class="ps-product__price">
                        <%= element.price.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %>
                      </p>
                    </div>
                  </a>
                 
                </div>
                <% }) %>
            </div>
            <div class="paging">
              <a href="/workstation-nc" class="current"> 1 </a>
              <a href="/workstation-nc?page=2"> 2 </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

